alembic
beautifulsoup4
bidict
blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Admin
Flask-Login
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
Flask-WTF
greenlet
h11
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
passlib
python-dotenv
python-engineio
python-socketio
requests
simple-websocket
soupsieve
SQLAlchemy
typing_extensions
urllib3
Werkzeug
wsproto
WTForms
zipp
