<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <title>{% block title %}{% endblock %}</title>

        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <div id="loader"></div>
        <div id="loader-background"></div>

        <div class="form">
            {% block form %}
            {% endblock %}
        </div>

        <script>
            document.onreadystatechange = () => { 
                if (document.readyState === "complete") { 
                    document.querySelector("#loader").style.display = "none"; 
                    document.querySelector("#loader-background").style.display = "none";
                    document.querySelector(".container").style.display = "flex"; 
                } 
            } ;
        </script>
    
        {% block scripts %}
        {% endblock %}
    </body>

</html>