<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VaderMap</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    </head>
    <body>
        <div id="map"></div>
        <div class="space-invaders">
            <span class="title">
                <h1>Space Invaders</h1>
                <img src="{{ url_for('static', filename='img/invader-logo-white.png') }}" alt="Invader Logo">
            </span>
            <ul id="invaders-list"></ul>
            <img 
                class="expand-arrow" 
                width="25px" 
                height="auto" 
                src="{{ url_for('static', filename='img/expand-arrow.png') }}" 
                alt="Expand Arrow"
                onclick="
                    const invList = document.getElementById('invaders-list');
                    if(invList.classList.contains('expanded')) {
                        invList.classList.remove('expanded');
                    } else {
                        invList.classList.add('expanded');
                    }
                "
            >
        </div>

        <script src="mapping.js"></script>
        <script>
            const vaderMap = new VaderMap('map');
            vaderMap.loadData({{ data|tojson }});
            vaderMap.init();
        </script>
    </body>
</html>