<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VaderMap</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    </head>
    <body>
        <div class="space-invaders">
            <span class="title">
                <h1 style="font-size: 14px; color: #fff;">Space Invaders</h1>
                <img src="{{ url_for('static', filename='img/invader-logo-white.png') }}" alt="Invader Logo">
            </span>
            <ul>
                <li>... 1</li>
                <li>... 2</li>
            </ul>
        </div>
        <div id="map"></div>
        <script type="module" src="mapping.js"></script>
    </body>
</html>