{% extends 'base.html' %}

{% block title %}VaderLogin{% endblock %}

{% block content %}
    <div class="d-flex flex-column w-75">
        <h3 class="text-center">Se connecter</h3>
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <p class="text-center">Connectez-vous ici !</p>
            <div class="form-fields">
                {% for field in form %}
                    {% if field.type not in ['SubmitField', 'HiddenField', 'CSRFTokenField'] %}
                        {% set field_class = field.render_kw.class_ -%}
                        <div class="form-floating mb-3">
                            {% if field.errors %}
                                {{ field(class = field_class + ' is-invalid') }}
                                <div>
                                    {% for error in field.errors %}
                                        <div class="text-danger-emphasis">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                            <label class="form-label">{{ field.label }}</label>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="submit d-grid">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
        <hr>
        <div class="account-exists-or-not">
            <small>
                Vous n'avez pas de compte ? <a href="{{ url_for('signup') }}" class="hover-effect">Enregistrez-vous</a>
            </small>
        </div>
    </div>
{% endblock %}