{% extends 'root.html' %}

{% block title %}VaderMap{% endblock %}

{% block head %}
<!-- LEAFLET -->
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
<script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>

<!-- LEAFLET - MARKERCLUSTERS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />

<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
{% endblock %}

{% block body %}
    <div id="map"></div>
    <div class="space-invaders">
        <span class="title">
            <h1><a href="{{ url_for('home') }}">VaderMap</a></h1>
            <img src="{{ url_for('static', filename='img/invader-logo-white.png') }}" alt="Invader Logo">
        </span>
        <p>Connecté en tant que <strong><a href="{{ url_for('my_profile') }}">{{ current_user.name }}</a></strong> ({{ current_user.invaders|length }}/{{ invaders|length }})</p>
    </div>

    <div class="center-pos position-absolute bottom-0 start-0" style="z-index: 500;">
        <button id="center-to-pos" class="btn">
            <img src="{{ url_for('static', filename='img/crosshair.png') }}" width=30 />
        <button>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script> -->
    <script src="{{ url_for('static', filename='mapping.js') }}"></script>
    <script>
        (async () => { 
            // const vaderWS = new VaderWS(); 
            const vaderMap = new VaderMap('map', /* vaderWS */);
            
            const urlParams = new URLSearchParams(window.location.search);
            const lat = urlParams.get('lat');
            const lng = urlParams.get('lng');
            
            if(lat && lng) {
                await vaderMap.init(false) // 'false' prevents centering to the user's position instead of the invader (when geoloc is activated).
                    .then(() => {
                        vaderMap.centerToInvader(parseFloat(lat), parseFloat(lng));
                        history.pushState({}, document.title, window.location.pathname);
                    });
            } else {
                await vaderMap.init();
            }

            document.getElementById('center-to-pos').addEventListener('click', e => {
                vaderMap.centerToPosition();
            })
        })();
    </script>
{% endblock %}
