{% extends 'root.html' %}

{% block title %}VaderMap{% endblock %}

{% block head %}
<!-- LEAFLET -->
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
<script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>

<!-- LEAFLET - MARKERCLUSTERS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />

<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
{% endblock %}

{% block body %}
    <div id="map"></div>

    <div class="space-invaders position-fixed fixed-top center-pos bg-dark p-3 border m-3 w-auto d-flex align-items-center gap-1" style="border-radius: 30px; font-size: smaller;">
        <span class="title">
            <h1><a href="{{ url_for('home') }}">VaderMap</a></h1>
            <img src="{{ url_for('static', filename='img/invader-logo-white.png') }}" alt="Invader Logo">
        </span>

        <small class="conn-text m-0">Connecté en tant que <strong><a href="{{ url_for('my_profile') }}">{{ current_user.name }}</a></strong> <span id="invaders-count">({{ current_user.invaders|length }}/{{ invaders|length }})</span></small>
    </div>

    <div class="position-fixed fixed-bottom center-pos bg-dark p-3 border m-3 d-flex align-items-center gap-3" style="z-index: 501; border-radius: 30px;">
        <div class="input-group d-flex flex-column gap-2 flex-grow-1">
            <select name="filters" id="select-filters" class="selectpicker mw-100" multiple placeholder="Filtres">
                <optgroup label="claim">
                    <option value="claimed">Marqués</option>
                    <option value="unclaimed">Non marqués</option>
                </optgroup>
                <optgroup label="state">
                    <option value="active">Bon état</option>
                    <option value="damaged">Abîmés</option>
                    <option value="broken">Détruits</option>
                    <option value="inexistent">Introuvables</option>
                </optgroup>
                <option value="favorite">Favoris</option>
            </select>
        </div>
        <div class="vr"></div>
        <div id="center-to-pos-container">
            <button id="center-to-pos" class="btn btn-primary btn-sm" style="border-radius: 15px;">
                <span>Centrer</span>
            </button>
        </div>
    </div>

    <style>
        .bootstrap-select {
            width: 100% !important;
            max-width: 100%;
        }

        .bootstrap-select .dropdown-toggle {
            width: 100% !important;
            white-space: normal;
            border-radius: 15px;
        }

        .bootstrap-select .dropdown-menu {
            border-radius: 15px;
            margin-bottom: 20px !important;
        }

        .bootstrap-select .filter-option-inner-inner {
            display: flex;
            flex-wrap: wrap;
            gap: 0.25rem;
            font-size: small;
        }
    </style>
{% endblock %}

{% block scripts %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script> -->
    <script src="{{ url_for('static', filename='mapping.js') }}"></script>
    <script>
        (async () => { 
            // const vaderWS = new VaderWS(); 
            const vaderMap = new VaderMap('map', /* vaderWS */);
            
            const urlParams = new URLSearchParams(window.location.search);
            const lat = urlParams.get('lat');
            const lng = urlParams.get('lng');
            
            if(lat && lng) {
                await vaderMap.init(false) // 'false' prevents centering to the user's position instead of the invader (when geoloc is activated).
                    .then(() => {
                        vaderMap.centerToInvader(parseFloat(lat), parseFloat(lng));
                        history.pushState({}, document.title, window.location.pathname);
                    });
            } else {
                await vaderMap.init();
            }

            document.getElementById('center-to-pos').addEventListener('click', e => {
                vaderMap.centerToPosition();
            })
        })();
    </script>
{% endblock %}
