<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VaderMap</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <!-- LEAFLET -->
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
        <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>

        <!-- MAPLIBRE-GL -->
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/maplibre-gl/dist/maplibre-gl.css') }}" />
        <script src="{{ url_for('static', filename='node_modules/maplibre-gl/dist/maplibre-gl.js') }}"></script>
        
        <script src="{{ url_for('static', filename='node_modules/@maplibre/maplibre-gl-leaflet/leaflet-maplibre-gl.js') }}"></script>

        <!-- LEAFLET - MARKERCLUSTERS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/leaflet.markercluster.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.1/MarkerCluster.Default.css" />
    </head>
    <body>
        <div id="map"></div>
        <div class="space-invaders">
            <span class="title">
                <h1>VaderMap</h1>
                <img src="{{ url_for('static', filename='img/invader-logo-white.png') }}" alt="Invader Logo">
            </span>
            <p>Connecté en tant que <strong><a href="{{ url_for('my_profile') }}">{{ current_user.name }}</a></strong> ({{ current_user.invaders|length }}/{{ invaders|length }})</p>
        </div>

        <script src="mapping.js"></script>
        <script>
            (async () => { 
                const vaderMap = new VaderMap('map');
                await vaderMap.init();
            })();
        </script>
    </body>
</html>