<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
        <title>VaderProfile</title>
    </head>
    <body>
        {% if exists %}
            <div class="container">
                <h1>{{ user.name }}</h1>
                {% if user.id == current_user.id %}
                    <div class="account-btns">
                        <a class="edit-profile" href="{{ url_for('profile_settings') }}">Modifier le profil</a> |
                        <a class="logout" href="{{ url_for('logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                <p>{{ user.invaders|length }}/{{ invaders|length }} invaders</p>
                <div class="invaders">
                    {% for invader in invaders|sort(attribute='id') %}
                        <a href="{{ url_for('map', lat=invader.lat, lng=invader.lng) }}">
                            {% if invader in user.invaders %}
                                <div class="active">{{ loop.index }}</div>
                            {% else %}
                                <div>{{ loop.index }}</div>
                            {% endif %}
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p>Cet utilisateur n'existe pas...</p>
        {% endif %}
    </body>
</html>