<!DOCTYPE html>
{% if current_user.is_authenticated %}
<html lang="en" data-bs-theme="{{ 'dark' if current_user.theme == 0 else 'light' }}">
{% else %}
<html lang="en" data-bs-theme="dark"></html>
{% endif %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        
        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

        <!-- BOOTSTRAP-SELECT -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

        <title>{% block title %}{% endblock %}</title>

        {% block head %}
        {% endblock head %}
    </head>
    <body>

        {% block body %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>

        <!-- BOOSTRAP JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <!-- BOOSTRAP-SELECT JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>

        <script>
            document.onreadystatechange = () => {
                // TOOLTIPS
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            }
        </script>

        {% block scripts %}
        {% endblock %}

        {% if current_user.is_authenticated and not current_user.patchnote_seen %}
            <script src="{{ url_for('static', filename='mapping.js') }}"></script>
            <script>
                const utils = new VaderUtilities();

                const content = document.createElement('div');

                content.innerHTML = `
                    <div class="card">
                        <div class="card-header">
                            Quoi de neuf ?? (spoiler: pas grand chose)
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Changement d'apparence de la banderolle du haut sur la map.</li>
                            <li class="list-group-item">Affichage, et possibilité de copier les coordonnées d'un invader sur son profil.</li>
                            <li class="list-group-item">Quelques erreurs et bugs graphiques corrigés...</li>
                        </ul>
                    </div>
                `

                /* content.innerHTML = `
                    <div class="card">
                        <div class="card-header">
                            Prochainement (v2.3.3/v2.3.4)
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Rendre accessible LIL_00 (cas particulier d'invader ne respectant pas les codes standarts et ne pouvant pas être mis sur le site actuellement).</li>
                            <li class="list-group-item">Implémentation de websockets, permettant entre autre de centraliser les actions des utilisateurs sur la map (une action faite par A est vue par B sans besoin de recharger la map), donc par exemple de créer un chat textuel.</li>
                            <li class="list-group-item">Ajout de préférences permettant de filtrer les invaders affichés sur la map et de personnaliser quelques éléments...</li>
                            <li class="list-group-item">Un moyen de tourner la map (comme avec Google Maps).</li>
                            <li class="list-group-item">Un moyen de créer des itinéraires entre un petit nombre d'invaders.</li>
                            <li class="list-group-item">Quelques optimisation pour assurer la rapidité du site (il commence à y avoir beaucoup d'éléments sur la carte).</li>
                            <li class="list-group-item">Une page d'aide pour comprendre le fonctionnement du site (s'inscrit dans un projet plus général pour la v3.0.0).</li>
                            <li class="list-group-item">Faire ressortir des invaders spécifiques pas encore flashés sur la carte, en favoris.</li>
                            <li class="list-group-item">Un choix permanent du thème noir/blanc (choix disponible mais qui ne reste pour l'instant pas après un rechargement du site).</li>
                        </ul>
                    </div>
                ` */
                utils.informationModal('PatchNote v2.3.2', content, '600px');

                fetch('/api/update-patchnote-seen', methods = ['POST']);
            </script>
        {% endif %}
    </body>
</html>