{% extends 'form.html' %}

{% block title %}VaderSignup{% endblock %}

{% block form %}
    <h3>Créer un compte</h3>
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <legend>
            Vous n'avez pas de compte ? Enregistrez-vous !
        </legend>
        <div class="form-fields">
            <div class="form-field">
                <p>{{ form.username.label }}</p>
                {{ form.username(id='form-username') }}
                {% if form.username.errors %}
                    <div class="invalid">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-field">
                <p>{{ form.password.label }}</p>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="invalid">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-field">
                <p>{{ form.confirm_password.label }}</p>
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="invalid">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-field">
                <p>{{ form.master_pwd.label }}</p>
                {{ form.master_pwd }}
                {% if form.master_pwd.errors %}
                    <div class="invalid">
                        {% for error in form.master_pwd.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="submit">
                {{ form.submit }}
            </div>
        </div>
    </form>
    <div class="account-exists-or-not">
        <small>
            Vous avez déjà un compte ? <a href="{{ url_for('login') }}" class="hover-effect">Connectez-vous</a>
        </small>
    </div>
{% endblock %}