<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- PLOT.LY -->
        <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
        <title>VaderStats</title>
    </head>
    <body>
        <div class="container">
            <div class="stats">
                <strong>Statistiques</strong>
                <div id="graph"></div>
            </div>
            <hr>
            <div class="logs">
                <strong>Logs</strong>
                <div class="logs-container">
                    <ul id="logs-ul">
                        {% for invader in invaders[::-1] %}
                            {% if invader.users|length > 0 %}
                                <li>
                                    {% if invader.inv_id %}
                                        <small>{{ invader.city }}_{{ invader.inv_id }}</small>
                                    {% else %}
                                        <small>NN (#{{ invader.id }})</small>
                                    {% endif %} 
                                    ajouté le {{ invader.date.strftime('%d/%m/%Y') }} par <a href="{{ url_for('user_profile', username = invader.users[0].name) }}">
                                        {{ invader.users[0].name }}
                                    </a>.
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <button id="loadmore-btn">Charger plus...</button>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='mapping.js') }}"></script>
        <script src="{{ url_for('static', filename='loadmore_logs.js') }}"></script>
        <script>
            const range = (start, end, step = 1) => {
                let result = [];
                for (let i = start; i <= end; i += step) {
                    result.push(i);
                }
                return result;
            };

            (async () => { 
                const api = new VaderAPI();
                const mapData = await api.getMapData();

                const statsEl = document.getElementById('graph');

                const dates = mapData.invaders
                    .sort((a, b) => { 
                        let dA = new Date(a.date);
                        let dB = new Date(b.date);
                        return dA - dB;
                    })
                    .map(invader => invader.date);

                const data = [
                    {
                        x: dates,
                        y: range(1, dates.length),
                        type: 'scatter'
                    }
                ];

                const layout = {
                    showlegend: false
                };

                Plotly.newPlot(statsEl, data, layout, {staticPlot: true, responsive: true});
            })();
        </script>
    </body>
</html>