{% extends 'base.html' %}

{% block title %}VaderStats{% endblock %}

{% block head %}

    <!-- PLOT.LY -->
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
    <header class="d-flex gap-3 align-items-center">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/invader-logo-white.png') }}" alt="Invader Logo" width="25px"></a>
        <strong>Statistiques</strong>
    </header>
    <div class="stats">
        <div id="graph" style="width: 350px; height: 200px;"></div>
    </div>
    <div class="card" style="height: 400px;">
        <div class="card-header">
            <strong>Logs</strong>
        </div>
        <div class="card-body overflow-y-scroll">
            <ul class="list-group" id="logs-container">
                
            </ul>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
            <nav>
                <ul class="pagination m-0 gap-3">
                    <li class="page-item">
                        <button class="btn btn-sm btn-outline-primary" href="#" aria-label="Previous" id="pagination-previousBtn">
                            <span aria-hidden="true">&lt;</span>
                        </button>
                    </li>
                    <li class="page-item"> <p>/</p> </li>
                    <li class="page-item">
                        <button class="btn btn-sm btn-outline-primary" href="#" aria-label="Next" id="pagination-nextBtn">
                            <span aria-hidden="true">&gt;</span>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='mapping.js') }}"></script>

    <!-- Code for the graph -->
    <script>
        const range = (start, end, step = 1) => {
            let result = [];
            for (let i = start; i <= end; i += step) {
                result.push(i);
            }
            return result;
        };

        (async () => { 
            const api = new VaderAPI();
            const mapData = await api.getMapData();

            const statsEl = document.getElementById('graph');

            const dates = mapData.invaders
                .sort((a, b) => { 
                    let dA = new Date(a.date);
                    let dB = new Date(b.date);
                    return dA - dB;
                })
                .map(invader => invader.date);

            const data = [
                {
                    x: dates,
                    y: range(1, dates.length),
                    type: 'scatter'
                }
            ];

            const layout = {
                showlegend: false,
                paper_bgcolor: 'rgba(0,0,0,0)',
                plot_bgcolor: 'rgba(0,0,0,0)',
                margin: {
                    t: 0,
                    b: 20,
                    l: 30,
                    r: 0
                }
            };

            Plotly.newPlot(statsEl, data, layout, { staticPlot: true, responsive: true });
        })();
    </script>

    <!-- Code for the logs. -->
    <script>

        const previousBtn = document.getElementById('pagination-previousBtn');
        const nextBtn = document.getElementById('pagination-nextBtn');

        const vaderUtils = new VaderUtilities();

        const formatInvader = (lat, lng, name) => {
            return `
                <a href="/map?lat=${lat}&lng=${lng}" class="text-decoration-none"> 
                    <small>${name}</small>
                </a>
            `
        };

        const formatAction = action => {
            const type = action.type;

            const user = action.user ? `<a href="/user/${action.user.name}" class="text-decoration-none"><small>${action.user.name}</small></a>` : `<small>${action.user_name} (supprimé)</small>`;

            const oldData = action.old_data;
            const newData = action.new_data;

            const inv = action.invader;

            if(type == 1) {
                const invader = formatInvader(inv.lat, inv.lng, newData);
                return `${invader} ajouté par ${user}.`;

            } else if(type == 2) {
                const oldInvader = `<small>${oldData}</small>`;
                const newInvader = formatInvader(inv.lat, inv.lng, newData);

                return `${oldInvader} renommé en ${newInvader} par ${user}.`;
            } else if(type == 3) {
                const invader = formatInvader(inv.lat, inv.lng, inv.full_id);
                const oldStatus = vaderUtils.getFormatedState(Number(oldData));
                const newStatus = vaderUtils.getFormatedState(Number(newData));

                return `${invader} : ${oldStatus} devient ${newStatus} (d'après ${user}).`;
            } else if(type == 4) {
                const invader = formatInvader(inv.lat, inv.lng, inv.full_id);
                
                return `Nouveau commentaire sur ${invader} par ${user}.`;
            } else if(type == 5) {
                const latLng = newData.split(';');
                const invader = formatInvader(latLng[0], latLng[1], inv.full_id);

                return `${invader} déplacé par ${user}`;
            }
        };

        const renderActions = actions => {
            let logs = '';

            actions.forEach(action => {
                const date = new Date(action.date);
                let logRecord = `
                    <li class="list-group-item d-flex gap-3" style="list-style: none;">
                        <small>
                            <div class="border border-secondary rounded ps-2 pe-2" style="width: fit-content;">${date.toLocaleDateString()}</div>
                        </small>
                        <div class="vr"></div>
                        <div>${formatAction(action)}</div>
                    </li>\n
                `;

                logs += logRecord;
            });

            const logsContainer = document.getElementById('logs-container');
            logsContainer.innerHTML = logs;
        };

        const enablePagination = () => {

            const params = new URLSearchParams(window.location.search);
            let page = params.get('page') ? Number(params.get('page')) : 1

            let reloadParams = async () => {
                const newUrl = `${window.location.pathname}?${params.toString()}`;
                window.history.replaceState({}, '', newUrl);

                return await renderNewPage();
            };

            previousBtn.onclick = async () => {
                params.set('page', page - 1);
                page--
                await reloadParams();
            };

            nextBtn.onclick = async () => {
                params.set('page', page + 1);
                page++
                await reloadParams();
            };
        };

        const getActions = async (page, perPage) => {
            return await fetch('api/get-paginated-actions?' + new URLSearchParams({
                page: page,
                per_page: perPage
            }), { method: 'GET' });
        };

        const renderNewPage = async () => { 
            const params = new URLSearchParams(window.location.search);
            let page = params.get('page');
            const perPage = params.get('per_page');

            const res = await getActions(page, perPage);
            const data = await res.json();
            const actions = data.actions;

            page = page == -1 ? data.max_pages : page
            if(page == data.max_page ) {
                params.set('page', page)
                const newUrl = `${window.location.pathname}?${params.toString()}`;
                window.history.replaceState({}, '', newUrl);
            }

            if(1 < page < data.max_pages) {
                previousBtn.disabled = false;
                nextBtn.disabled = false;
            }

            if(page <= 1) {
                previousBtn.disabled = true;
                nextBtn.disabled = false;
            }
            if(page >= data.max_pages) {
                nextBtn.disabled = true;
                previousBtn.disabled = false;
            }
            
            renderActions(actions);

            return data;
        };

        renderNewPage();
        enablePagination();
    </script>

{% endblock %}