
:root {
	--blue: #4195f5;
	--purple: #7c59fa;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace !important;
    user-select: none;
}

p {
    font-weight: bold;
}

/* SCROLLBAR */

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: #FFF;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
}

/* BOOTSTRAP COLORS */

.btn.btn-outline-purple  {
    --bs-btn-color: var(--purple) !important;
    --bs-btn-border-color: var(--purple);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--purple);
    --bs-btn-hover-border-color: var(--purple);
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--purple);
    --bs-btn-active-border-color: var(--purple);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--purple);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--purple);
    --bs-gradient: none;
}

.text-purple {
    color: var(--purple) !important;
}

.border-purple {
	border-color: var(--purple) !important;
}