@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
}

#map { height: 100vh; }

.space-invaders {
    z-index: 500;
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #31313167;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    right: calc(50% - 180px);
    top: 0;
    margin: 15px;
    max-height: calc(100vh - 60px);
}

.coordinates {
    z-index: 499;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    bottom: 0;
    margin: 15px;
}

.coordinates > p {
    font-size: 14px;
}

.space-invaders > p {
    color: #fff;
    text-align: center;
}

.space-invaders > p > strong > a {
    color: #fff;
    transition: 0.3s;
}

.space-invaders > p > strong > a:hover {
    color: #dddddd;
}

.space-invaders > .title {
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
}

.space-invaders > .title > h1 {
    font-size: 16px; 
}

.space-invaders > .title > h1 > a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.space-invaders > .title > h1 > a:hover {
    color: #dfdfdf;
}

.space-invaders > .title > img {
    width: 25px;
    height: auto;
}

.invader-marker {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.invader-marker p {
    margin: 0 !important;
}

.invader-marker > .invader-name {
    font-weight: 800;
}

.invader-marker > div {
    display: flex;
    gap: 15px;
}

/* MARKER CLUSTERS */

.cluster-icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.cluster-icon.dark {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

@media screen and (max-width: 630px) {
    .space-invaders {
        width: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding: 10px 0;
        border-radius: 0;
    }
}