@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.container > header > a > img {
    width: 30px;
    height: auto;
}

.container > .stats,
.container > .logs {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    overflow-x: hidden;
}

.container > .logs > .logs-container {
    max-height: 300px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.container > .logs > .logs-container > button {
    outline: none;
    background: none;
    color: rgb(32, 89, 196);
    border: none;
    cursor: pointer;
}

#logs-ul {
    padding: 30px;
}

#logs-ul > li > a {
    color: #2fd44b;
    text-decoration: none;
}

#graph {
    width: 700px;
    height: 500px;
}

@media screen and (max-width: 745px) {
    #graph {
        width: 425px;
    }
}